/var/log/growatt/*.log {
    size 10M
    rotate 5
    missingok
    compress
    olddir /home/pi/growatt/logs
    renamecopy
    su pi pi
}
/home/pi/growatt/results/inverter.csv {
    rotate 9999
    daily
    dateext
    compress
}
