/var/log/timeseries-reader/*.log {
    size 10M
    rotate 5
    missingok
    compress
    olddir /home/pi/timeseries-reader/logs
    renamecopy
    su pi pi
}
/home/pi/timeseries-reader/results/inverter.csv {
    rotate 9999
    daily
    dateext
    compress
}
