[Unit]
Description=Timeseries Reader

[Service]
User=pi
WorkingDirectory=/home/pi/timeseries-reader
ExecStart=/home/pi/timeseries-reader/env/bin/python /home/pi/timeseries-reader/src/cli.py
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
